<div id="contact">
	<h1>Contactez-moi</h1>	
	<p>N'hésitez pas à remplir ce formulaire si vous souhaitez me contacter.</p>

	<form action="{{ path('pm_portfolio_contact') }}" method="post" {{ form_enctype(form) }} class="form-contact">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Envoyer !" />
    </form>
</div>

<script>
    $('#inner-wrap').removeClass();
    $('#inner-wrap').addClass('portfolio');
</script>